services:
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb-data:/var/lib/mysql
    restart: always
    networks:
      - inception
    ports:
      - "3306:3306"

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress-data:/var/www/html
    restart: always
    networks:
      - inception
    ports:
      - "9000:9000"

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    env_file:
      - .env
    depends_on:
      - wordpress
    volumes:
      - wordpress-data:/var/www/html:ro
    restart: always
    networks:
      - inception
    ports:
      - "443:443"

volumes:
  mariadb-data:
  wordpress-data:

networks:
  inception:
    driver: bridge
