services:
  nginx:
    container_name: nginx
    # Change 'nginx' to a custom name, e.g., inception_nginx
    image: inception_nginx 
    build: 
      context: ./requirements/nginx
      dockerfile: Dockerfile
    ports:
      - "443:443"
    # Ensure there are NO 'volumes:' entries that mount over /etc/nginx/ssl
    restart: always
    networks:
      - inception


  mariadb:
      build: ./requirements/mariadb
      container_name: mariadb
      env_file:
        - .env
      volumes:
        - mariadb-data:/var/lib/mysql
      restart: always
      networks:
        - inception
      ports:
        - "3306:3306"
volumes:
  mariadb-data:
networks:
  inception:
      driver: bridge
