services:
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    env_file:
      - .env
    ports:
      - "443:443"
    volumes:
      - nginx-certs:/etc/nginx/certs
      - nginx-html:/var/www/html
    restart: always
    networks:
      - inception

  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - mariadb-data:/var/lib/mysql
    restart: always
    networks:
      - inception
    ports:
      - "3306:3306"

volumes:
  nginx-certs:
  nginx-html:
  mariadb-data:

networks:
  inception:
    driver: bridge
