version: "3.9"

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    env_file: .env
    volumes:
      - mariadb-data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wordpress-data:/var/www/html
    networks:
      - inception
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wordpress-data:/var/www/html
    env_file: .env
    networks:
      - inception
    restart: always

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      device: /home/mamir/data/mariadb
      o: bind

  wordpress-data:
    driver: local
    driver_opts:
      type: none
      device: /home/mamir/data/wordpress
      o: bind

networks:
  inception:
    driver: bridge
    name: inception
