version: '3.8'

services:
  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./requirements/nginx/html:var/www/html
      - ./requirements/nginx/conf:etc/nginx/conf.d
    restart: unless-stopped
    networks:
      - inception
networks:
  inception:
      driver: bridge

  